.text h2 {
    text-align: center; /* Center-align heading */
    font-size: 25px;
  }
  
  .img-container {
    text-align: center; /* Center-align image and label */
  }
  
  #profile-pic {
    width: 100px; /* Reduce image size */
    height: 100px;
    border-radius: 50%; /* Circular shape */
    margin-bottom: 10px; /* Add space between image and button */
  }
  
  #profile-load {
    display: block; /* Ensure button appears on a new line */
    margin: 0 auto; /* Center-align button */
  }
  
  label {
  color: #0aa5e9 !important;
  font-size: 15pt;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold;
  border: 2px solid #D2D4DA;
  background-color: white;
  box-shadow: 0 3px #D2D4DA;
  border-radius: 15px;
  width: 130px;
  padding: 3px;
  display: block;
  height: 35px; 
  width: 140px;
  margin: 10px auto;
  font-size: 17px;
  }
  
  .main-container {
    width: calc(30% - 20px); /* Reducir el ancho del contenedor principal */
    padding: 10px; /* Reducir el espacio interno del contenedor */
    border-radius: 20px; /* Ajustar el radio de borde */
    border: 1px solid #ccccccd1;
    background-color: #ffffff;
    font-size: 14px;
    margin: 15px auto;
  }
  
  /* Add space between form elements */
  .name-form,
  .user-form,
  .form-select {
    margin-bottom: 5px;
  }
  
  .save-editBtn {
    text-align: center; /* Center buttons */
    margin-top: 1px; /* Add top space */
    font-size: 18px;
  }
  
  /* Additional styles for buttons */
 /* .btn-edit,
  .btn-save {
    margin-right: 10px; 
    background: #0aa5e9;
    color: #fff;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    outline-color: #0aa5e9;
    height: 30px; 
    width: 130px; 
  }*/
  
  /* Show the "Load Picture" button */
  input[type="file"] {
    display: block;
  }
  
  /* Show the associated label */
  label[for="profile-load"] {
    display: block;
  }
  
  #profile-load {
    display: none;
  }
 /* Reduce the internal space within the name and username input fields */
.name-form input[type="text"],
.user-form input[type="text"] {
  padding: 1px; /* Adjust padding as needed */
  font-size: 18px;
}

.name-form input[type="text"].form-control,
.user-form input[type="text"].form-control {
  height: 34px; /* Cambiar la altura según sea necesario */
}


/* Reduce the internal space within the select element */
.form-select {
padding: 3px; /* Adjust padding as needed */
}

.input-group-text {
  font-size: 20px;
  padding: 1px;
}

.btn-edit,
.btn-save {
  color: #0aa5e9 !important;
  font-size: 15pt;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold;
  border: 2px solid #D2D4DA;
  background-color: white;
  box-shadow: 0 3px #D2D4DA;
  border-radius: 15px;
  width: 130px;
}

.btn-edit:hover,
.btn-save:hover, label:hover {
  background-color: #F3F4F8;
  border: 2px solid #D2D4DA;
}

.btn-edit:active,
.btn-save:active, label:active {
  background-color: #F3F4F8 !important;
  border: 2px solid #D2D4DA !important;
  box-shadow: 0 0px #D2D4DA;
  transform: translateY(1px);
}