#container {
    display: grid;
    grid-template-rows: 10vh 90vh 10vh;
    grid-template-areas:
    "nav"
    "map"
    "footer";
}

#navbarPlaceholder {
    grid-area: nav;
}

main {
    grid-area: map;
}

#map {
    height: 100%;
}