body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
}
#container {
    display: grid;
    grid-template-rows: 35vh 45vh;
    grid-template-areas: 
        "map"
        "news";
}

main {
    grid-area: map;
    height: 90%;
    margin: 1em;
}

main img {
    height: 90%;
    padding: 1em;
}

a {
    text-decoration: none;
}

#news {
    grid-area: news;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 55vh;
    margin: 0.5% 5% 0.5% 5%;
}

#card {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 5px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    height: 250px;
    width: 200px;
    padding: 10px;
}

#map {
    height: 100%;
}



@media only screen and (min-width: 701px) and (max-width: 1280px) {

    #container {
        display: grid;
        grid-template-rows: 60vh 20vh;
        grid-template-areas: 
            "map"
            "news";
    }

    main {
        grid-area: map;
    }
    
    main img {
        height: 90%;
        padding: 1em;
    }

    #news {
        grid: news;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        height: 30vh;
        flex-wrap: nowrap;
    }

    #card {
        flex-direction: column;
        padding: 0.5em;
        margin: 0.5em;
        width: 200px;
        flex: 0 0 auto;
    }

}

@media only screen and (min-width: 1281px) {
    #container {
        display: grid;
        grid-template-columns: 65vw 35vw;
        grid-template-rows: 95vh;
        grid-template-areas:
            "map news";
    }
    
    main {
        grid-area: map;
        height: 90%;
        margin-left: 2em;
        margin-top: 2em;
    }

    main img {
        height: 90%;
        max-width: 1280px;
        padding: 1em;
    }

    #news {
        grid-area: news;
        margin-top: 4em;
        margin-bottom: 2em;
        height: 90%;
    }
}