@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito';
}

* {
    font-size: 10pt;
}

#container {
    display: grid;
    grid-template-rows: 45vh 45vh;
    grid-template-areas:
        "map"
        "news";
}

main {
    grid-area: map;
    height: 90%;
    margin: 1em;
}

main img {
    height: 90%;
    padding: 1em;
}

a {
    text-decoration: none;
}

#news {
    grid-area: news !important;
    display: flex !important; 
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0% 2.5% 0.5% 2.5%;
}

a {
    text-decoration: none;
}

.card {
    display: flex;
}

/* For Map */
#map {
    height: 100%;
}

@media only screen and (max-width: 701px) and (max-height: 900px) {
    #container {
        grid-template-rows: 35vh 55vh;
    }
}


@media only screen and (min-width: 701px) and (max-width: 1280px) {

    #container {
        grid-template-rows: 45vh 45vh;
    }

}

@media only screen and (min-width: 1281px) {
    #container {
        display: grid;
        grid-template-columns: 70vw 30vw;
        grid-template-rows: 80vh;
        grid-template-areas:
            "map news";
    }

    main {
        grid-area: map;
        height: 100%;
        margin-left: 2em;
        margin-top: 2em;
    }

    main img {
        width: 100%;
        max-width: 1280px;
        padding: 1em;
    }

    #news {
        grid-area: news;
        margin-top: 2em;
        margin-bottom: 2em;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: center;
    }

    .card {
        display: flex;
    }
    
}