
.bg-primary-subtle {
    background-color: #064479 !important;
}

.nav-link, .navbar-brand {
    color: white !important;
    font-family: "Poppins", sans-serif;
}

.btn-primary {
    --bs-btn-bg: #064479;
    --bs-btn-border-color: #064479;
    --bs-btn-hover-bg: #0aa5e9;
    --bs-btn-hover-border-color: #0aa5e9;
}

.btn-outline-success {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: #0aa5e9;
    --bs-btn-hover-border-color: #0aa5e9;
}

img[src="./images/bird.png"] {
    width: 250px;
    height: auto;
    margin-bottom: 0 !important;
}
#page-content {
    position: botom;
    height: 100px;
    bottom: 0;
    width: 100%;

}
#sticky-footer{
    background-color: #064479;
}

#pageTitle {
    padding-left: 2em;
    padding-top: 2em;
    font-size: 20pt;
    text-align: center;
}
#cardContainer, #cardContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.card {
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 0.5%;
    width: 18rem;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: auto;
}

#profile-photo {
    border-radius: 50%;
}

.card-mb-3 {
    width: 90%;
    height: 100px;
}
.col-md-4 img {
    float: left;
}

.shrink-form {
    width: 50%; /* Adjust this value to your liking */
    margin: 0 auto; /* This centers the form horizontally */
}

@media only screen and (min-width: 701px) and (max-width: 1600px){
    #cardContainer, #cardContainer2 {
        flex-direction: row;

    }
}

@media only screen and (min-width: 1601px){
    .navbar {
        flex-direction: column;
        flex-shrink: 0;
    }

    #cardContainer, #cardContainer2 {
        flex-direction: row;
    }

}

