@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.primary-font {
  font-family: "Nunito", sans-serif !important;
}

.secondary-font {
  font-family: "Open Sans", sans-serif !important;
}

.bg-primary-subtle {
  background-color: white !important;
}

* {
  font-size: 15pt;
}

.nav-link,
.navbar-brand {
  color: darkgray !important;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Nunito";
}

.nav-link:hover {
  color: #404040 !important;
}

#navbarPlaceholder {
  border-bottom: #D2D4DA solid 1px !important;
}

#logo {
  color: #0aa5e9 !important;
  font-weight: bold;
}

.navbar_points, .navbar_streak {
  /* float: right; */
}

.material-symbols-outlined {
  color: #0aa5e9;
  vertical-align: middle;
}

/* BUTTON STYLING */
.btn {
  color: #0aa5e9 !important;
  font-size: 15pt;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold;
  border: 2px solid #D2D4DA;
  background-color: white;
  box-shadow: 0 3px #D2D4DA;
  border-radius: 15px;
}

.btn:hover {
  background-color: #F3F4F8;
  border: 2px solid #D2D4DA;
}

.btn:active {
  background-color: #F3F4F8 !important;
  border: 2px solid #D2D4DA !important;
  box-shadow: 0 0px #D2D4DA;
  transform: translateY(1px);
}

img[src="./images/bird.png"] {
  width: 250px;
  height: auto;
  margin-bottom: 0 !important;
}

#page-content {
  position: botom;
  height: 100px;
  bottom: 0;
  width: 100%;
}
 
#sticky-footer {
  background-color: #064479;
}

#pageTitle {
  padding-left: 2em;
  padding-top: 2em;
  font-size: 20pt;
  text-align: center;
}

#cardContainer,
#cardContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
a {
  text-decoration: none;
}

.card {
  border-radius: 20px;
  margin: 1%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  padding: 12px;
  width: 18rem;
}

.card .headline {
  font-size: 15pt;
  font-family: "Nunito";
  color: #404040;
}

.card .preview, .card .country {
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #808080;
}

.card-img-top {
  border-radius: 8px;
  width: 100%;
  height: 9em; 
}

.card:hover {
  /* box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2); */
  background-color: #F3F4F8;
}

/* .card img {
  width: auto;
} */

#profile-photo {
  border-radius: 50%;
}

.card-mb-3 {
  width: 90%;
  height: 100px;
}
.col-md-4 img {
  float: left;
}

.shrink-form {
  width: 50%;
  margin: 0 auto;
}

.mapboxgl-map {
  border: lightgray solid;
  border-radius: 15px;
}

.article_container {
  width: 80%;
  margin: auto;
}

#title {
  font-size: 22pt;
  font-family: "Nunito";
  color: #404040;
}

#image {
  border-radius: 20px;
}

#content {
  font-size: 15pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #808080;
}

/* MODAL STYLES */
.modal-content {
  border-radius: 20px;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

@media only screen and (min-width: 701px) and (max-width: 1600px) {
  #cardContainer,
  #cardContainer2 {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1601px) {
  .navbar {
    flex-direction: column;
    flex-shrink: 0;
  }

  #cardContainer,
  #cardContainer2 {
    flex-direction: row;
  }
}
:root {
  --primary-color: #07afd9;
}
 