
.bg-primary-subtle {
    background-color: #064479 !important;
}

.nav-link, .navbar-brand {
    color: white !important;
    font-family: "Poppins", sans-serif;
}

.btn-primary {
    --bs-btn-bg: #064479;
    --bs-btn-border-color: #064479;
    --bs-btn-hover-bg: #0aa5e9;
    --bs-btn-hover-border-color: #0aa5e9;
}

.btn-outline-success {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: #0aa5e9;
    --bs-btn-hover-border-color: #0aa5e9;
}


.title h1{
    font-size: 30px;
    
}
.notification h2 {
    font-size: 30px;
    
}
.rounded {
    width: 100px;
}
.main {
    align-content: center
}

#profile-photo {
    border-radius: 50%;
}